*{
    padding: 0;
    margin: 0;
    font-size: 12px;
}
/* table, thead tr th, tbody tr td,table tr th, table tr td { 
    border:1px solid #03040447; 
} */
.content{
    width:300px;
    height:300px;
}
.content_idlist{
    width:300px;
    height:100px;
}
.jira_report_table{
    min-width: 1100px;
}
.jira_report_table td {
    border-bottom: 1px solid #0000693d;
    border-left: 1px solid #0000693d;
}
.jira_list{
    width: calc(100% - 0px);
    float: right;
}

button{    
    background-color: green;
    color:white;
}
.rpt_item_name{
    color: blue;
}
.type_number{
    color: brown;
}