.jira_list .issueitem{
    color:red;
}
.jira_list .issueTypeName{
    color:black;
}
.jira_list .status_inprogress .status{
    background-color:#ffff0091;
}
.jira_list .status_reassign .status{
    background-color:#ff0000c7;
}
.jira_list .status_todo .status{
    background-color:#ff5b5b80;
}
.jira_list .status_open .status{
    background-color:#ff0000c7;
}
.jira_list .status_reopened .status{
    background-color:#ffcacab8;
}
.jira_list .status_done *{
    background-color:white !important;
    color: green !important;;
}
.jira_list .status_resolved *{
    background-color:white !important;
    color: green !important;
}
.jira_list .status_devisdone{
    color: green !important;
}
.jira_list .status_devisdone *{
    color: green !important;
}
.jira_list .status_closed *{
    background-color:white !important;
    color:#999 !important;
}
.jira_list .priority_1 .priorityName{
    background-color: #ff00005c;
    color: red;
}
.jira_list .priority_2 .priorityName{
    background-color: #ff00005c;
    color: red;
}
.jira_list .priority_3 .priorityName{
    background-color: #ffcacab8;
}
.jira_list .priority_4 .priorityName{
    background-color: white;
}
.jira_list .notexist{
    color:#bbb;
}
.number_total{
    font-weight: bolder;
    color:black;
}
.number_done{
    font-weight: bolder;
    color:green;
}
.number_open{
    font-weight: bolder;
    color:red;
}